[project]
name = "Rh-s-PyTool"
version = "0.1.2"
description = "Instruments used in school-project"
authors = [
    {name = "skahanium", email = "skahanium@gmail.com"},
]
readme = "README.md"
dependencies = [
    "numpy>=1.22.3",
    "novella>=0.2.3",
    "pydoc-markdown>=4.6.3",
    "MKDocs>=1.3.0",
    "MKDocs-material>=8.2.14",
    "pyyaml>=5.4.1"]
requires-python = ">=3.10"
license = {text = "MIT"}

[project.urls]
Github = "https://github.com/skahanium/Rh-s-PyTool"
Documentation = "https://rh-s-pytool-coral.vercel.app"

[tool.pdm]

[build-system]
requires = ["pdm-pep517>=0.12.0"]
build-backend = "pdm.pep517.api"
