[project]
name = "Rh-s-PyTool"
version = "0.1.5"
description = "Python code instruments that could be used for index comprehensive evaluation."
authors = [
    {name = "skahanium", email = "skahanium@gmail.com"},
]
readme = "README.md"
dependencies = [
    "numpy>=1.22.3",
    "mkdocs>=1.3.0",
    "mkdocs-material>=8.2.15",
    "jieba>=0.42.1",
    "plum-dispatch>=1.6",
]
requires-python = ">=3.10"
license = {text = "MIT"}

[project.urls]
Github = "https://github.com/skahanium/Rh-s-PyTool"
Documentation = "https://skahanium.github.io/Rh-s-PyTool/"

[tool.pdm]

[build-system]
requires = ["pdm-pep517>=0.12.0"]
build-backend = "pdm.pep517.api"
